.main{
    background-color: rgb(102, 38, 91);
    height: 100vh;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url('./vectorstock_20239401.png');
    overflow: hidden;
}

.main-row{
    height: 90vh;
}

.top-row{
    background-color: rgb(138, 17, 132);
}

.user-header{
    color: aliceblue;
}

.contacts{
    margin-top: 50px;
    /* margin-right: 30px;
    margin-left: 25px; */
    overflow: hidden;
    padding-right: 0;
    padding: 0 !important;
}

.tab{
    height: 30px;
    font-size: small;
    background-color: rgb(93, 146, 192);
    text-align: center;
    border-color: rgb(85, 76, 76);
    border-style: solid;
    border-left: 1px;
    border-width: 1px;
}

.tab-row{
    background-color: aliceblue;
}


.list-group-menu{
    padding-right: 0px;
    position: absolute;
    border: 0 !important;
    right: 0;
    top: 100px;
}

.scrollable{
    overflow-y: scroll !important;
}

.menu{
    background-color: rgb(105, 184, 236);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.add-item{
    width: 100%;
    height: 100%;
    background-color:aliceblue;
    bottom: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.add-room-btn{

}

.chat{
    /* margin-top: 90px; */
    /* padding-bottom: 30px;
    margin-right: 25px; */
    margin-top: 10px;
    /* margin-right: 30px; */
    overflow: hidden;
    padding-right: 0;
}


.chat-info{
    margin-top: 15px;
    height: 50px;
    width: 100%;
}

.small-font{
    text-align: center;
    font-size: medium;
}

.invite-chat{
    position: absolute;
    left: 210px;
    bottom: 5px;
}

.messages{
    background-color: aliceblue;
    height: 86%;
    margin-top: 20px;
    /* border-radius: 20px 20px 0 0 ; */
}

.row{
    flex-wrap: nowrap !important;
}

.text-box{
    width: 100%;
}

.form-control{
    border-radius: 0 !important

}

.form-text-field{
    padding-right: 0 !important;
}
.form-button-submit{
    padding-left: 0 !important;
}

/* the text messages in the chat */
.message{
    background-color: whitesmoke !important;
    padding-left: 15px;
}

.status{
    background-color: greenyellow;
    text-align: center;
    margin-top: 50px;
    margin-left: 90%;
    margin-right: 10px;
}

.debug{
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
}

.text-field-row{
    overflow: hidden;
}

.line{
    height: 0;
}

.members{
    margin-top: 50px;
    background-color: aliceblue;
}